* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


button {
    padding: 0.5rem;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 800;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    filter: drop-shadow(1px 1px 4px rgb(38, 38, 38));
}


.container {
    width: 100%;
    min-height: 10em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

#changeEvent, #alertMsg, #calculator {
    padding: 2rem;
    margin: 10px 20px;
    border-radius: 1rem;
    border: 1px solid black;
}

h2, button {
    margin: 1rem auto;
}

#colorButton {
    padding: 10px 20px;
    background-color: lightblue;

}

#alertMsg button{
    background-color: burlywood;
}

#calculator button {
    background-color: rgb(183, 35, 183);
    color: white;
    border: 1px solid violet;
}

#calculator input {
    padding: 10px;
    border: none;
    outline: none;
}

input#result {
    cursor: none;
}

#calculator {
    margin-top: 20px;
}